@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h4>@ViewData["Title"]</h4>

<p>PRIVACY.</p>
<p>PRIVACY.</p>
<p>Update PRIVACY Titleeee.</p>


<h1 class="font-weight-bold">Figuring out Git Workflow!</h1>
<h1 class="font-weight-bold">Figuring out Git Workflow!</h1>
<h1 class="font-weight-bold">Figuring out Git Workflow!</h1>
<h1 class="font-weight-bold">Figuring out Git Workflow!</h1>